In [86]:
import numpy as np
import pandas as pd
from  nltk.corpus import stopwords
import string
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kushal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [87]:
data=pd.read_csv("C:/Users/kushal/Downloads/spam.csv")
data.head()
data=data.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
data=data.rename(columns={'v1':'class','v2':'text'})
data.head()

  class                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [88]:
data

     class                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [89]:
data['length']=data['text'].apply(len)

In [90]:
data

     class                                               text  length
0      ham  Go until jurong point, crazy.. Available only ...     111
1      ham                      Ok lar... Joking wif u oni...      29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      ham  U dun say so early hor... U c already then say...      49
4      ham  Nah I don't think he goes to usf, he lives aro...      61
...    ...                                                ...     ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160
5568   ham              Will �_ b going to esplanade fr home?      37
5569   ham  Pity, * was in mood for that. So...any other s...      57
5570   ham  The guy did some bitching but I acted like i'd...     125
5571   ham                         Rofl. Its true to its name      26

[5572 rows x 3 columns]

In [91]:
data.shape

(5572, 3)

In [92]:
data.columns

Index(['class', 'text', 'length'], dtype='object')

In [93]:
data.drop_duplicates(inplace=True)

In [94]:
data.shape

(5169, 3)

In [95]:
data.isnull().sum()

class     0
text      0
length    0
dtype: int64

In [96]:
class_num = {
           'spam': 1,
           'ham': 0}

data['class'] = data['class'].map(class_num)
data.head()

   class                                               text  length
0      0  Go until jurong point, crazy.. Available only ...     111
1      0                      Ok lar... Joking wif u oni...      29
2      1  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      0  U dun say so early hor... U c already then say...      49
4      0  Nah I don't think he goes to usf, he lives aro...      61

In [97]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
x=data['text']
y=data['class']
print(x.shape,y.shape)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
print(x_train.shape,y_train.shape)

(5169,) (5169,)
(3618,) (3618,)

In [98]:
#countvectorizer is used to check  how many times  a given word comes up in each mail
vectorizer=CountVectorizer()
counts=vectorizer.fit_transform(x_train.values)

In [99]:
classifier=MultinomialNB()
targets=y_train.values
classifier.fit(counts,targets)

MultinomialNB()

In [104]:
examples=['signup to win cashprize of $10000000000, get free wifi ','hi lets meet']

In [105]:
check=vectorizer.transform(examples)
predictions=classifier.predict(check)
print(predictions)

[1 0]